<div class="container">
    <div class="text-center">
        <div class="column"></div>
        <div class="column">
            <h1>Eat-Da-Burger</h1>
        </div>
        <div class="column"> </div>
    </div>
    <div class="row">
        <div class="column">
        
            <br>
            <aside>
                <h3>Burger to eat</h3>
                <dl>
                    {{#each burgers}}
                    {{#unless devoured}}
                    <dt class="clearfix">
                        <p class="float-left">
                            {{this.id}} {{this.burger_name}}
                        </p>
                        <button data-burgerid="{{this.id}}" class="devourMe button-small float-right">Devour!</button>
                    </dt>
                    {{/unless}}
                    {{/each}}
                </dl>
            </aside>
        </div>


        <div class="column">
            <section>
                <img src="http://image.flaticon.com/icons/png/512/189/189127.png" class="mx-auto d-block"
                    alt="Burger img" width="200" height="200">
                <!--addburger here-->
                <h2>Add a Burger</h2>
                <form class="addBurger">
                    <textarea type="text" name="burger" id="burgers"></textarea>
                    <button type="submit">Enter Burger!</button>
                </form>
            </section>
        </div>


        <div class="column">
            <aside>
                <h2>Devoured burger</h2>
                <dl>
                    {{#each burgers}}
                    {{#if devoured}}
                    <dt>
                        <p>
                            {{this.id}}. {{this.burger_name}}
                        </p>
                    </dt>
                    {{/if}}
                    {{/each}}
                </dl>
            </aside>
        </div>
    </div>
</div>